/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    
    .contentBox {
        background-color: rgb(230, 221, 221);
        color: #444444;
        padding: 0.5rem;
        margin: 5px auto;
        font-weight: normal;
    }


    #articlePic {
        width: 24rem;
        height: 12rem;
        float: right;
        margin-left: 1rem;
    }
    
    #map {
        display: inline-block;
        width: 50%;
    }

    #contactInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        text-align: left;
        background-color: white;
    }
    
} /*end medium */
