* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: #000000;
}

h1 {
    font-size: 3rem;
    color: whitesmoke;
    background-color: darkred;
}

h2 {
    font-size: 2rem;
    text-align: left;
    border-bottom: 1px solid black;
}

h1, h2, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 960px;
    border-radius: 8px;
}

h1 {
    padding: 1rem 1rem 1rem 1rem;
}

ul {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 960px;
}

img {
    padding: .5rem;
    max-width: 15rem;
    position: absolute;
    margin: 1rem 20rem;
}


header,
footer {
    text-align: center;
    color: whitesmoke;
}


footer {
    background-color: darkred;
}

footer a {
    color:skyblue;
}

#lastUpdated {
    color: gold;
}

