* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 2rem;
    color: whitesmoke;
    background-color: darkred;
}

h2 {
    font-size: 1rem;
    text-align: left;
    color: black;
}

hr {
    margin: 1.25rem auto;
    padding: 1px;
    background-color: darkred;
}

header, h1, h2, hr, ul, main, footer {
    margin: 1.25rem auto;
    max-width: 800px;
    border-radius: 8px;
}

h1 {
    padding: 1rem 1rem 1rem 1rem;
}

img {
    max-width: 15rem;
    margin-top: 1em;
    margin-right: 1em;
}


header,
footer {
    text-align: center;
    color: whitesmoke;
}


footer {
    background-color: darkred;
}

footer a {
    color:skyblue;
}

#lastUpdated {
    color: gold;
}

